*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

@font-face{
    font-family: "Cotton";
    src:url(../Cotton_Cloud.ttf);
}

@keyframes fly{
 from{transform: translateY(0);}
 to{transform: translateY(-150vh); }
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(160.09deg, #4BBEFF 16.67%, #2749A3 117.94%);
    background-image: url(../img/Frame.jpg);
    justify-content: center;
    overflow: hidden;
    .balao{
        display: flex;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        bottom: -35vh;
        svg{
            width: 5vw;
            height: 35vh;
        }
        #a1{ animation: fly 5s infinite 0.5s linear; }
        #b2{ animation: fly 5.5s infinite 1.5s linear; }
        #c3{ animation: fly 4.5s infinite 2s linear; }
        #d4{ animation: fly 5.8s infinite 1s linear; }
        #e5{ animation: fly 5.2s infinite 0.5s linear; }
        #f6{ animation: fly 4.8s infinite 1.5s linear; }
        #g7{ animation: fly 4.6s infinite 2s linear; }
        #h8{ animation: fly 5.6s infinite 0.5s linear; }
        #i9{ animation: fly 4.5s infinite 1.5s linear; }
        #j0{ animation: fly 5s infinite 2s linear; }
    }
    .cartao{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        .container{
            display: flex;     
            align-items: center;
            justify-content: center;
            max-width: 70vw;
            height: 70vh;
            background: #e2e2e2;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 3vw;
            padding: 2vw;
            .block{
                height: 100%;
                background: #FFFFFF;
                border: 0.5vw solid #E8CF7A;
                border-radius: 2.5vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title{
                    justify-content: center;
                    font-family: 'Titillium Web', sans-serif;
                    h2{
                        font-weight: 700;
                        font-size: 3vw
                    }
                }
                .bolo{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: center;
                    font-family: 'Titillium Web', sans-serif;
                    h2{
                        font-weight: 600;
                        font-size: 2vw;
                    }
                    h3{
                        font-family: "Cotton", sans-serif;
                        font-size: 6vw;
                    }
                    img{
                        width: 8vw;
                        margin-top: -1vw;
                    }
                    h4{
                        font-weight: 600;
                        font-size: 1.9vw;
                        margin-top: 0.6vw;

                    }
                }
                .txt{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10.8vw 0 0;
                    p{
                        font-family: 'Titillium Web', sans-serif;
                        font-weight: 600;
                        font-size: 1.7vw;
                    }
                }
            }
        }
    }
}